extends layout

block content
 .row
  .col-10.mx-auto
   h1.h3.mb-3.font-weight-normal Our Awesome Articles
   if posts
    each post, i in posts
     .card.flex-md-row.mb-4.shadow-sm.h-md-400
      .card-body.d-flex.flex-column.align-items-start
       a.d-inline-block.mb-2.text-primary(href='/posts/category/' + "#{post.category}") #{post.category}
       h3.mb-0 #{post.title}
       p.blog-post-meta
        | #{moment(post.date).fromNow()}
        |  by 
        a(href='/posts/author/' + "#{post.author}") #{post.author}
       p.card-text.mb-auto 
       !=trucText(post.body, 300)
       a(href='/posts/post/' + "#{post._id}") Continue reading
      img.align-middle.img-thumbnail2.card-img-right.flex-auto.d-none.d-lg-block(src="/" + "#{post.postimage}")